services:

  api:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: on-failure
    networks:
      - projet-network

  web:
    container_name: web
    build:
      context: ./web
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "5173:80"
    restart: on-failure
    networks:
      - projet-network
        
  db:
    image: postgres
    container_name: db
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_DB: food_bd
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
    networks:
      - projet-network

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - projet-network


volumes:
  food_pgdata:


networks:
  projet-network:
    driver: bridge
